.nav {
  background-color: aqua;
  font-size: large;
  font-weight: bold;
  width: 200px;
  height: 100vh;
}

.nav ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
}

.nav li {
  margin-top: 20px;
}